<h2 mat-dialog-title>{{data.employee.contactName}}</h2>
 <div mat-dialog-content>
  <h3 class="sectionTitle">Basic Info</h3>
  <mat-grid-list cols="12" rowHeight="55px">
    <mat-grid-tile rowspan="2">
      <mat-icon class="gridItemsTop">person</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Full Name</mat-label>
        <input [(ngModel)]="data.employee.contactName" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Preferred Name</mat-label>
        <input [(ngModel)]="data.employee.preferredName" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-icon class="gridItems">credit_card</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Social Security Number</mat-label>
        <input [type]="ssnIsVisible" [(ngModel)]="data.employee.maskedSocialSecurity" matInput>
        <mat-icon matSuffix (click)="changeVisible()" class="clickable">remove_red_eye</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-icon class="gridItems">cake</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Birthday</mat-label>
        <input type="datetime" [(ngModel)]="data.employee.dateOfBirth" matInput>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <h3 class="sectionTitle">Addresses</h3>
  <mat-grid-list cols="12" rowHeight="55px">
    <mat-grid-tile rowspan="5">
      <mat-icon class="gridItemsTop">place</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Street Address 1</mat-label>
        <input [(ngModel)]="data.employee.streetAddress.addressLine1" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon color="primary" class="clickable">control_point</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Street Address 2</mat-label>
        <input [(ngModel)]="data.employee.streetAddress.addressLine3" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>City</mat-label>
        <input [(ngModel)]="data.employee.streetAddress.city" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field class="gridInfo">
        <mat-label>State</mat-label>
        <input [(ngModel)]="data.employee.streetAddress.state" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field class="gridInfo">
        <mat-label>Zip</mat-label>
        <input [(ngModel)]="data.employee.streetAddress.zip" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="10">
      <mat-form-field class="gridInfo">
        <mat-label>Address Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let address of addresses">
            {{address.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

  <h3 class="sectionTitle">Contact Info</h3>
  <mat-grid-list cols="12" rowHeight="55px">
    <mat-grid-tile>
      <mat-icon class="gridItems">mail</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field class="gridInfo">
        <mat-label>Email Address</mat-label>
        <input type="email" [(ngModel)]="data.employee.personalEmail" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field class="gridInfo">
        <mat-label>Address Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let email of emails">
            {{email.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon color="primary" class="clickable">control_point</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon class="gridItems">phone</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field class="gridInfo">
        <mat-label>Phone Number</mat-label>
        <input type="tel" [(ngModel)]="data.employee.mobilePhone" matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field class="gridInfo">
        <mat-label>Number Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let phone of phones">
            {{phone.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon color="primary" class="clickable">control_point</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>

  <h3 class="sectionTitle">Legal Info</h3>
  <mat-grid-list cols="12"  rowHeight="120px">
    <mat-grid-tile>
      <mat-icon class="gridItemsTop">wc</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="11">
      <div class="gridInfo">
      <label id="radio-group-label">Legal Gender</label>
      <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="data.employee.genderDescription">
        <mat-radio-button class="radio-button" *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data.employee">Cancel</button>
  <button mat-button [mat-dialog-close]="data.employee" cdkFocusInitial>Save</button>
</mat-dialog-actions>